
body {
	margin: 10px;
}

h1 {
	font-size: 20px;
	padding-bottom: 2px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 4px;
}

.section-content {
	margin-left: 10px;
	margin-right: 10px;
}

.preference {
	margin-top: 10px;
	margin-bottom: 10px;
}

label {
	font-weight: bold;
	font-size: 16px;
	margin-right: 4px;
}

.help::before {
	content: '?';
	color: black;

	vertical-align: top;
	text-align: center;

	width: 18px;
	height: 18px;
	border-radius: 9px;

	font-size: 16px;
	line-height: 18px;

	display: inline-block;
	border: 1px solid black;
	cursor: pointer;
}

/* Permissions */

.drawer {
	margin-top: 1em;
	padding: 4px;
	border: 1px solid lightgray;
}

.drawer-head {
	display: flex;
	justify-content: space-between;
}

.drawer h1 {
	margin: 0;
	border: none;
}

.drawer .drawer-opener::before {
	content: '^';
}

.drawer.folded .drawer-opener::before {
	content: 'v';
}

.drawer .drawer-content {
	overflow: hidden;
}

.drawer.folded .drawer-content {
	height: 0;
}

#permissions {
	margin: 0;
	padding: 0;
}

#permissions > li {
	list-style-type: none;
}

/* Status */

.status-text {
	margin-left: 10px;

	font-size: 16px;
	line-height: 18px;

	color: gray;
}

.status-icon::before {
	text-align: center;

	width: 18px;
	height: 18px;

	font-size: 16px;
	line-height: 18px;

	display: inline-block;

	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 9px;
}

/* Connecting state */

.connecting > .status-icon::before {
	content: '...';
	color: #6797e5;
	border-color: #6797e5;
}

.connecting > .status-text::before {
	content: 'connecting...';
}

/* Connected state */

.connected > .status-icon::before {
	content: '\2714';
	color: green;
	border-color: green;
}

.connected > .status-text::before {
	content: 'connected';
	color: green;
}

/* Disconnecting state */

.disconnecting > .status-icon::before {
	content: '!';
	color: orange;
	border-color: orange;
}

.disconnecting > .status-text::before {
	content: 'disconnecting...';
}

/* Disconnected state */

.disconnected > .status-icon::before {
	content: 'X';
	color: red;
	border-color: red;
}

.disconnected > .status-text::before {
	content: 'disconnected';
}
